sim/run/logs/*
sim/run/obj_dir/*
*/out/*
*/*/out/*
*.bak
*.vcd
*.fst
proj/core_test/*
*.xlsx
*.zip
*.txt
.vscode/*

#Quartus files
*.qsf
*.qpf
*.qws
*.cmp
*.bsf
*.ppf
*.qip
*.sip
*.spd
*/*/db/*
*/*/*/*/*_sim/*
*/*/*/*/*/*
/**/output_files/*
*/*/incremental_db/*
